body {
    background-color: #B0E0E6; /* Powder Blue */
    /* font-family: Arial, sans-serif; */
}
.hd{
    font-family: "Londrina Solid", sans-serif;
    font-size: 4rem !important;
    color: #FEFAF6;
}
.hd:hover{
    cursor: pointer;
}
.flex{ 
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
     padding: 1rem 2rem;
     position: relative;
     /* margin: 2rem; */
 
     background:linear-gradient(70deg, #ADD8E6, #FFFFFF 70%); 

     background-color: white;



}

.cred{ 
    display: flex;
    justify-content: space-between;
    /* flex: 2; */
    align-items: center;
  

    
}
.cred button{ 
    background-color: white;
;
}
.cred i{ 
    color: black;
}

.cred button{ 

    border: none;
    margin-left: 1rem;
}

.len{ 
    margin-right: 0px !important;
    width: 20rem !important;;
}

/* .flex  p{ 
    text-align: center;
} */


.srBar{

    position: absolute;
    top: 66%;
    left: 36%;
    border-radius:0.6rem ;
    min-width: 24rem;
    background-color:white;
    z-index: 1;
    padding: 0.5rem;

}

.val:hover{
cursor: pointer;
opacity: 0.7;
}