
.detAdd{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.addresses{
    width: 88%;
    padding: 1rem;
    margin: 1rem;
    min-height:10rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 0.7rem;
}

.add1{
  flex: 40%;

}

.add2{flex: 60%;}



.dt1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dt1 p{
    padding-right: 1rem;
}

input[type="radio"] {
    transform: scale(0.1); /* Increase the size */
    margin-right: 5px; /* Add some space between the radio input and its label */
    
  }


  .btcntr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

  }
  .payBtn{
    min-width: 12rem !important;
  }